#pagePreview {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    overflow: hidden;
    max-width: 400px;
    max-height: 120px;
}